* {
  max-width: 720px;
  margin: auto;
}
body {
    background-color: beige;
}

#header {
  height: 15px;
  width: 100%;
  background-color: #355e3b ;
}

img {
  float: right;
  height: 220px;
  width: 170px;
}

.resume {
  display: inline-block;
  margin-top: 6px;
  margin-left: 20px;
  width: 95%;
  height: 1000px;
}

li {
  
  font-size:15px;
  font-family: Palatino, 'Palatino Linotype', serif; 
  color: Black; 
}

.title {
  font-size: 18px;
  font-weight: bold;
  font-family: Montserrat, 'Palatino Linotype', serif;   
  color:Black;
}

h1 {
  font-size: 35px;
  font-family: Georgia, 'Palatino Linotype', serif;   
  color:Maroon;
}
h2 {
  font-size: 24px;
  font-family: Georgia, 'Palatino Linotype', serif; 
  color:Maroon;
  }
  
h3 {
  font-size: 15px;
  font-family: Georgia, 'Palatino Linotype', serif; 
  color:Black;
  }
  
